/.vs
StringFinder.sln
StringFinder/Debug
StringFinder/StringFinder.sln
StringFinder/StringFinder.vcxproj
StringFinder/StringFinder.vcxproj.filters
StringFinder/StringFinder.vcxproj.user
StringFinder/StringFinder/StringFinder.vcxproj
StringFinder/StringFinder/StringFinder.vcxproj.filters
StringFinder/StringFinder/StringFinder.vcxproj.user
StringFinder/StringFinder/StringFinder/Debug